* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    background-image: url(file:///C:/Users/leona/Downloads/undraw_indoor_bike_pwa4.svg);
    width: 100%;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.content-tabela {
    margin: 80px auto;
    height: auto;
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: #6c63ff solid 1px;
}

.content-tabela h1 {
    text-align: center;
    color: #6c63ff;
}

.content-tabela ul li {
    list-style-type: none;
    border-bottom: 1px dotted #ddd;
    padding-bottom: 5px;

}

.list-tabela {
    display: flex;
    margin-top: 15px;
}

.list-tabela ul {
    width: 50%;
}

.list-tabela li {
    margin-top: 5px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  form input {
    font-size: 15px;
    height: 30px;
  }
  
  form button{
    margin: 20px auto;
    background-color: #6c63ff;
    border-radius: 5px;
    border: #fff solid 2px;
    height: 50px;
    color: white;
    font-size: 20px;
  }

#formulario {
    margin-top: 20px;
}
  
.resultado-certo {
    background-color: rgb(115, 255, 190);
    padding: 10px 20px;
}

.resultado-errado {
    background-color: rgb(255, 143, 115);
    padding: 10px 20px;
}

.leonardo {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #ccc;
    padding: 5px;
}